html,
body,
.container-fluid {
  font-family: var(--calcite-sans-family);
  width: 100%;
  height: 100%;
}

#header {
  background-color: #0f5055;
  color: #ffffff;
}

h1 {
  font-size: var(--calcite-font-size-4);
}

#infoDiv {
  width: 110px;
  height: 300px;
  margin-bottom: 50px;
}

.label {
  padding: 10px;
}